body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #D4F1F4;
}

.main{
    display:flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}


.container{ 
display:flex;
flex-wrap: wrap;
flex-direction: column;
width:960px !important;
height: 960px !important;
max-width: 960px !important;
max-height: 960px !important;
}

.square{
    display:flex;
    flex:1;
    flex-direction: column;
    border: 1px black dotted;  
}

.column{
    display:flex;
    flex-direction: row;
    flex:1;
}

.header{
    color:#05445E;
    font-size: 92px;
    font-family: 'VT323', monospace;
    margin-top: 32px;
    margin-bottom: 32px;
    
}

.big-boy{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.left{
    display:flex;
    justify-content: center;
    margin-right: 5em;
    margin-left: -5em;
    margin-top: 1em;
}

.slider-text {
    display:flex;
    justify-content: center;
    color:#05445E;
    font-family: 'VT323', monospace;
    font-size: 32px;
}
.slider-thing{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex:1;
    margin-top: 4px;
    margin-bottom: 16px;
}

.button {
    margin-top: 1em;
    --x: 50%;
    --y: 50%;
    display:flex;
    justify-content: center ;
    padding: 1em 2em;
    color: white;
    cursor: pointer;
    outline: none;
    border-radius: 100px;
    border: 3px solid transparent;
}

.main-colors{
    display:flex;
    flex-direction: row;
    gap:12px;
}

.main-colors .button{
    max-width: 110px;
    min-width: 110px;
}

.low-boys .button{
    max-width: 110px;
    min-width: 110px;
}

.blue{
    background: linear-gradient(#41729F, #000) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), #00c9a7, #845ec2) border-box;
}

.cyan{
    background: linear-gradient(#47b8b3, #000) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), #00c9a7, #845ec2) border-box;
}

.purple{
    background: linear-gradient(#474cb8, #000) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), #00c9a7, #845ec2) border-box;
}

.rainbow-blue{
    background: linear-gradient(#622ed1, #29a6d6) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), #00c9a7, #845ec2) border-box;
}
.rainbow{
    display:flex;
    justify-content: center;
    flex-direction: row;
}

.reset{
    background: linear-gradient(#ef1023, black) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), #10efdc, #ef1023) border-box;
}

.eraser{
    background: linear-gradient(white, #000) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), white, black) border-box;
}

.low-boys{
    display:flex;
    justify-content: center;
    flex-direction: row;
    gap:16px;
}
