.container{
display:flex;
flex-wrap: wrap;
width:960px !important;
height: 960px !important;
max-width: 960px !important;
max-height: 960px !important;
}

.square{
    
    border: 5px red solid;  

}