.main{
    display:flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}


.container{ 
display:flex;
flex-wrap: wrap;
flex-direction: column;
width:960px !important;
height: 960px !important;
max-width: 960px !important;
max-height: 960px !important;
}

.square{
    display:flex;
    flex:1;
    flex-direction: column;
    border: 1px black dotted;  
    background-color: blue;

}

.column{
    display:flex;
    flex-direction: row;
    flex:1;
}

.header{
    color:#05445E;
    font-size: 92px;
    font-family: 'VT323', monospace;

}


